{% extends 'base.html' %}
{% block content %}
<h1>This is a list of my assets</h1>
<ul>
    <li>Laptop</li>
    <li>Smartphone</li>
    <li>Headphones</li>
    <li>Backpack</li>
    <li>Phone Peripherals</li>
    <li>Monitor</li>
    <li>Tablets/iPads</li>
    <li>Chargers</li>
    <li>External Hard Drive</li>
    <li>SSD</li>
    <li>RAM</li>
    <li>USB/C Flash Drive</li>
    <li>Server</li>
    <li>Printer</li>
    <li>Keyboard</li>
    <li>Mouse</li>
    <li>Speakers</li>
    <li>Webcam</li> 
    <li>Monitor Stand</li>
    <li>Cables</li>
    <li>Docking Station</li>
</ul>   

{% endblock %}  